nav {
    flex-wrap: wrap;
    font-size: 0.8rem;
}
.logo {
    width: 30px;
    margin: 16px 8px 0 8px;
}
.nav-btn {
    padding: 16px 8px;
    font-size: inherit;
}
.summary-h3 {
    width: 92%;
}
.map-section {
    flex-direction: column-reverse;
    margin-top: 0;
}
.map-list, .map {
    width: 100%;
    margin: 0;
}
.map {
    height: 60%;
}
.map-list {
    height: 35%;
}
footer .logo {
    display: none;
}