nav {
    flex-wrap: wrap;
}
.logo {
    width: 30px;
    margin: 16px 8px 0 8px;
}
.nav-btn {
    padding: 16px 8px;
    font-size: inherit;
}
.figures-wrapper {
    flex-wrap: wrap;
}
.figures-column {
    width: 40%;
    border: none;
}
.figures-number {
    font-size: 2.5rem;
}
.map-section {
    flex-direction: column-reverse;
}
.map-list, .map {
    width: 100%;
    margin: 0;
}