/* General */
* {
    margin: 0;
}
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
    background-color: var(--theme-main);
    color: var(--theme-text);
}
h1, h2, h3 {
    font-family: 'Overpass', sans-serif;
}
h1 {
    text-align: center;
    font-size: 3rem;
}
p {
    margin: 1.5rem 0;
}
a {
    color: var(--theme-white);
}
:root {
    --theme-main: #2A2922;
    --theme-accent: #1D7874;
    --theme-white: #FDFFFC;
    --theme-text: #DADCD8;
    --theme-yellow: #EFCB68;

    --border-radius: 8px;

    --padding: 8px;

    --box-shadow: rgba(0, 0, 0, 0.19) 4px 5px 10px, rgba(0, 0, 0, 0.23) 5px 3px 3px;
}
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-around {
    justify-content: space-around;
}
.flex-center {
    justify-content: center;
}
.flex-align-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}
.link-dark {
    color: var(--theme-main);
}
/* End General */



/* Nav */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--theme-white);
    color: var(--theme-main);
    border-bottom: 1px solid var(--theme-main);
}
.logo {
    margin: 0 16px;
}
.nav-ul li {
    padding: 16px 32px;
    cursor: pointer;
}
.nav-ul li:hover {
    background-color: var(--theme-accent);
    color: var(--theme-white);
}
/* End Nav */



/* Main Column */
.main {
    padding: 40px 0;
}
.main p {
    margin: 1.5rem auto;
}
.main-column-text {
    width: 85%;
    max-width: 40rem;
    margin: 0 auto;
}
.section-header {
    margin-top: 3rem;
    text-align: center;
}
.opening-quote {
    display: block;
    font-size: 1.5rem;
    text-align: center;
}
.opening-quote-author {
    text-align: right;
    margin-top: 0;
}
/* End Main Column */



/* Splash */
.banner {
    height: 65vh;
    width: 100%;
    background-color: var(--theme-white);
    background-image: url(../img/banner.svg);
    color: var(--theme-main);
}
.h1-accent {
    color: var(--theme-accent);
}
/* End Splash */



/* Projects */
.project-section {
    width: 90%;
    margin: 0 auto;
}
.project-card {
    margin-right: 2%;
    margin-bottom: 4%;
    padding: 4px;
    border: 1px solid var(--theme-accent);
    border-radius: var(--border-radius);
}
.project-img {
    width: 150px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.project-list {
    padding: 16px;
    background-color: var(--theme-accent);
    color: var(--theme-white);
    border-radius: var(--border-radius);
    margin-left: 8px;
}
.future-project-list {
    background-color: var(--theme-yellow);
    color: var(--theme-main);
}
.project-title, .project-subtitle {
    line-height: initial;
}
.project-subtitle {
    font-size: small;
    font-weight: 300;
    margin-bottom: 8px;
}

/* @CARD TEST: no img */
.project-card-test {
    background-color: var(--theme-accent);
    border-radius: var(--border-radius);
    color: var(--theme-white);
    margin-right: 2%;
    margin-bottom: 4%;
}
.project-titles-container {
    padding: 16px;
    text-align: center;
}
.subtitle-test {
    font-size: initial;
}
.accent {
    color: var(--theme-accent);
}
.link-dark {
    color: var(--theme-main);
}
.project-list-test {
    padding: 8px 16px;
    background-color: var(--theme-white);
    color: var(--theme-main);
    border-radius: var(--border-radius);
}
.project-card-future-test {
    background-color: var(--theme-yellow);
    color: var(--theme-main);
}
/* End Projects */



/* Footer */
footer {
    padding: 32px;
    background-color: var(--theme-white);
    color: var(--theme-main);
}
/* End Footer */