/* General */
* {
    margin: 0;
}
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
    background-color: var(--theme-main);
    color: var(--theme-text);
}
h1, h2, h3 {
    font-family: 'Overpass', sans-serif;
}
h1 {
    text-align: center;
    font-size: 3rem;
}
p {
    margin: 1.5rem 0;
}
a {
    color: var(--theme-white);
}
:root {
    --theme-main: #2A2922;
    --theme-accent: #1D7874;
    --theme-yellow: #EFCB68;
    --theme-purple: #BDADEA;
    --theme-white: #FDFFFC;
    --theme-text: #DADCD8;

    --border-radius: 8px;

    --padding: 8px;

    --box-shadow: rgba(0, 0, 0, 0.19) 4px 5px 10px, rgba(0, 0, 0, 0.23) 5px 3px 3px;
}
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-center {
    justify-content: center;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-align-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}
.link-dark {
    color: var(--theme-main);
}
.inline {
    display: inline;
}
.accent {
    color: var(--theme-accent);
}
/* End General */



/* Nav */
nav {
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: var(--theme-white);
    color: var(--theme-main);
    border-bottom: 1px solid var(--theme-main);
}
.logo {
    margin: 0 16px;
}
.nav-btn {
    border: none;
    background: none;
    padding: 24px 32px;
    font-size: inherit;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: var(--theme-accent);
    color: var(--theme-white);
}
/* End Nav */



/* Splash */
.banner {
    height: 65vh;
    width: 100%;
    background-color: var(--theme-white);
    background-image: url(../img/banner.svg);
    color: var(--theme-main);
}
.h1-accent {
    color: var(--theme-accent);
}
/* End Splash */



/* Main Column */
.main {
    padding: 40px 0;
}
.main p {
    margin: 1.5rem auto;
}
.main-column-text {
    width: 85%;
    max-width: 40rem;
    margin: 0 auto;
}
.section {
    /* btn padding top & bottom (64px) + extra for line height */
    scroll-margin-top: 80px;
}
.section-header {
    margin-top: 4rem;
    text-align: center;
}
.section-hr {
    margin-top: 4rem;
}
.to-top {
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
    position: fixed;
    right: 32px;
    bottom: 16px;
    width: 2.5rem;
    border-top: 2px solid var(--theme-text);
    font-size: 2.5rem;
    line-height: 4.5rem;
    text-align: center;
    opacity: 0;
    transition: opacity 1.25s;
}
/* End Main Column */



/* Intro */
.intro-header {
    font-size: inherit;
}
.opening-quote {
    display: block;
    font-size: 1.5rem;
    text-align: center;
}
.opening-quote-author {
    text-align: right;
    margin-top: 0;
}
.figures-column {
    width: 23%;
    text-align: center;
}
.figures-number {
    font-size: 2.75rem;
    color: var(--theme-accent);
    text-shadow: var(--box-shadow);
    margin-bottom: 8px;
}
/* End intro */


/* MAP */
.map-section {
    width: 100%;
    /* 100vh - nav (80px), section-header (4rem), margin(16px) */
    height: calc(100vh - 96px - 4rem);
    margin-top: 16px;
}
.map-list {
    width: 15%;
    padding: 0;
    margin: 0 8px;
    max-height: 100%;
    overflow-y: auto;
}
.map-list-item {
    padding: 8px 16px;
    border-bottom: 1px solid var(--theme-text);
}
.map-list-item:hover {
    cursor: pointer;
    background-color: var(--theme-white);
    color: var(--theme-main);
}
.map {
    position: relative;
    z-index: 1;
    width: calc(85% - 32px);
    height: 100%;
    border-radius: var(--border-radius);
}
.legend {
    position: absolute;
    z-index: 2;
    max-width: 250px;
    bottom: 30px;
    right: 10px;
    padding: 8px 16px;
    border-radius: var(--border-radius);
    color: var(--theme-main);
    background-color: var(--theme-white);
    /* replicate mapbox box shadow */
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
.map-toggles-label {
    cursor: pointer;
    margin: 16px 0;
}
.map-toggle-symbol {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 4px 0 16px;
    border-radius: var(--border-radius);
}
.map-toggle-symbol-complete {
    background-color: var(--theme-accent);
}
.map-toggle-symbol-developing {
    background-color: var(--theme-yellow);
}
.map-toggle-symbol-planned {
    background-color: var(--theme-purple);
}
.mapboxgl-popup-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.95rem;
    padding: 0;
    background: transparent;
    /* border looks like road lines. top/bottom or left/right...? */
    border-left: 5px dashed var(--theme-text);
    border-right: 5px dashed var(--theme-text);
}
.popup-list {
    padding: 16px;
}
.popup-list li {
    margin-bottom: 4px;
}
.popup-completed {
    color: var(--theme-white);
    background-color: var(--theme-accent);
}
.popup-developing {
    background-color: var(--theme-yellow);
    color: var(--theme-main);
}
.popup-planned {
    background-color: var(--theme-purple);
    color: var(--theme-main);
}
.popup-developing a, .popup-planned a {
    color: var(--theme-main);
}
.popup-title, .popup-subtitle {
    line-height: initial;
}
.popup-subtitle {
    font-size: small;
    font-weight: 300;
    margin-bottom: 12px;
}
/* END Map  */


/* Projects */
/* @TODO: deprecate? */
.projects-container {
    margin-top: 40px;
}
.project-toggles-form {
    margin-top: 40px;
}
.toggles-label {
    margin-right: 80px;
}
.checkbox-img {
    width: 75px;
}
.project-card {
    margin-bottom: 3%;
    padding: 4px;
    border: 1px solid var(--theme-accent);
    border-radius: var(--border-radius);
}
.project-card:hover .project-img {
    transform: scale(1.15, 1.15);
}
.project-img {
    width: 150px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    transition: transform 0.75s;
}
.project-list {
    padding: 16px;
    background-color: var(--theme-accent);
    color: var(--theme-white);
    border-radius: var(--border-radius);
    margin-left: 8px;
}
.project-title, .project-subtitle {
    line-height: initial;
}
.project-subtitle {
    font-size: small;
    font-weight: 300;
    margin-bottom: 8px;
}
.project-future {
    background-color: var(--theme-purple);
    background-color: var(--theme-green);
    border-radius: var(--border-radius);
    color: var(--theme-main);
    margin-right: 2%;
    margin-bottom: 3%;
}
.project-titles-container {
    padding: 16px;
    color: var(--theme-white);
}
.link-dark {
    color: var(--theme-main);
}
.project-future-list {
    position: relative;
    z-index: 1;
    padding: 8px 16px;
    background-color: var(--theme-white);
    color: var(--theme-main);
    border-radius: var(--border-radius);
}
/* End Projects */



/* Footer */
footer {
    padding: 32px;
    background-color: var(--theme-white);
    color: var(--theme-main);
}
/* End Footer */